body {
  margin: 0;
  padding: 0;
  background-color: #4169e1;
}

h1 {
  margin: 0;
  background-color: #191970;
  color: #ffbf00;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 30vh;
}
